<title>Nuclear Codes Server</title>
<link rel="favicon" href="/assets/img/favicon.ico" />

<link rel="stylesheet" type="text/css" href="/assets/packages/normalize.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/style.css" />

<script>
  const CLIENT_ENDPOINT = "<%=CLIENT_ENDPOINT%>";
  const ENV = "<%=ENV%>";
</script>