.inputRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inputHolder {
  width: calc(100% - 180px);
  padding: 10px;
}

.buttonHolder {
  width: 180px;
  padding: 10px;
  height: 78px;
  margin-top: 20px;
}

.input {
  font-size: 32px;
  border-bottom: 1px solid #FFF8;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  padding: 18px;
  background: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-family: inherit;
}

.input:focus {
  border-bottom: 1px solid #FFFD;
}

.input:disabled {
  color: #fff8;
}

.inputSegment {
  text-align: center;
  margin: 0 4px;
}

.errors {
  min-height: 24px;
  margin: 12px 12px;
  font-size: 16px;
  color: #d55252;
  width: 100%;
}