body {
  font-family: sans-serif;
  background: #45999c;
}

.controller {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background: #2a6f72;
  padding: 14px;
  color: #FFF;
}

h1 {
  margin: 8px 0;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  background: #f0f0f0;
  padding: 10px;
  min-height: 100%;
  height: auto;
}

/* form */

.form-row {
  width: 100%;
  display: flex;
  margin: 8px;
}

/* player */

.players {
  display: flex;
  flex-wrap: wrap;
}

.player {
  padding: 4px;
  margin: 4px;
  background: #ffffff;
  width: calc(50% - 16px);
}

.player.spy {
  background: #ca7c7c;
}

h3 {
  margin: 2px 4px;
}

.data {
  font-family: monospace;
}