html,
body {
  width: 100%;
}

body {
  margin: 0 auto;
  background: #192328;
  font-family: sans-serif;
  color: #f4f4f4;
}

/* header */

.header {
  padding: 14px;
  width: calc(100% - 28px);
  height: auto;
  background: #141c22;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.box {
  background: #202831;
  height: 80px;
  min-width: 80px;
  margin: 12px;
  padding: 8px;
  border-radius: 2px;
}

.box .box-label {
  text-transform: uppercase;
  color: #48535c;
  font-size: 12px;
  font-weight: bold;
}

.box .box-content {
  width: auto;
  margin: 12px 12px 0 12px;
  font-size: 32px;
  text-align: center;
  color: #f2a33b;
}


/* links */

a {
  color: #f2a33b;
}

/* buttons and input */

label {
  text-transform: uppercase;
  color: #48535c;
  font-size: 12px;
  position: absolute;
  margin-top: -16px;
  font-weight: bold;
}

input {
  border: 2px solid #0c97f4;
  border-radius: 2px;
  padding: 0 10px;
  height: 32px;
  background: none;
  color: #f4f4f4;
  font-family: monospace;
  font-size: 16px;
  outline: none;
}

input[type=number] {
  width: 40px;
}

input:focus {
  border: 2px solid #6dbcf0;
}

input.code {
  width: 80px;
}

button {
  border: 2px solid #0004;
  padding: 4px 10px;
  border-radius: 2px;
  background: #0c97f4;
  color: #fff;
  height: 35px;
  box-shadow: 0 2px 0 #0004;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

button:hover {
  transform: translate(0, -1px);
  box-shadow: 0 3px 0 #0004;
}

button:active {
  transform: translate(0, 2px);
  box-shadow: none;
}

/* container */

.container {
  margin-top: 160px;
}

/* action-box */

.action-box {
  margin: 12px;
  background: #202831;
  padding: 32px 14px 14px;
  border-radius: 2px;
}

/* room */


.room {
  margin: 12px;
  background: #202831;
  padding: 8px;
}

.room-info {
  display: flex;
  padding: 22px;
}

.room-name {
  width: 50%;
}

h2 {
  margin: 4px 0 14px;
}

.room-actions {
  width: 50%;
}

/* table */

table {
  border-spacing: 0;
  width: 100%;
}

table tr {
  padding: 8px;
  height: 55px;
}

tr:nth-child(even) {
  background: #19242788
}

tr:nth-child(odd) {
  background: none
}

table tr th {
  text-align: left;
  text-transform: uppercase;
  color: #48535c;
  font-size: 12px;
  height: 22px;
}

table tr th.slide {
  min-width: 140px;
}

table tr th.current-poll {
  color: #f2a33b;
}

table tr td.slide {
  min-width: 140px;
  overflow: hidden;
  font-family: monospace;
}

table tr td {
  padding: 4px 8px;
}

/* colors */

tr.spy {
  background: #fd466144;
}

tr.disconnected {
  background: #57575744;
  color: #575757;
}

.incorrect {
  color: #fd4661;
}

.correct {
  color: #02e776;
}

button.green {
  background: #02e776;
}

button.red {
  background: #fd4661;
  color: #FFF;
}