<!doctype html>
<html>

<head>
  <%- include('partials/head.ejs') -%>
</head>

<!-- TODO: password protect this page on PRD somehow -->

<body ng-app="nuclear-codes-test">
  <h1>nuclear-codes-test</h1>
  <!-- TODO: have a link to CLIENT_ENDPOINT here Launch Game -->
  <div class="container" ng-controller="testController" ng-init="init()">

    <form ng-submit="addRoom()">
      <label for="roomName">Room name:</label>
      <input type="text" id="roomName" ng-model="state.roomName" />
      <label for="playerCount">Players:</label>
      <input type="number" id="playerCount" ng-model="state.playerCount" />
      <button>Start Test Room</button>
    </form>
    <div id="rooms">
      <div class="room" ng-repeat="(i, room) in state.rooms">
        <h2>{{ room.roomName }}</h2>
        <button>Submit All</button>
        <button>Add Player To Room</button>
        <div class="player" ng-repeat="(j, player) in room.players">
          <h3>{{ player.playerName }}</h3>
          <!-- TODO: depending on what the game state is, display an action? -->
          <!-- TODO: or maybe just display all actions available -->
          <!-- or maybe a json form field that can be default filled and then submitted -->
          <button ng-click="player.disconnectPlayer()">Disconnect</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="/assets/script.js" type="module"></script>
</body>

</html>