<!doctype html>
<html>

<head>
  <%- include('partials/head.ejs') -%>
</head>

<body ng-app="nuclear-codes-test">
  <div class="controller" ng-controller="testController" ng-init="init()">

    <!-- HEADER -->
    <div class="header">
      <div class="box">
        <div class="box-label">Test</div>
        <div class="box-content">Nuclear Codes</div>
      </div>
      <div class="box">
        <div class="box-label">Games</div>
        <div class="box-content">{{serverStatus.games}}</div>
      </div>
      <div class="box">
        <div class="box-label">Players</div>
        <div class="box-content">{{serverStatus.players}}</div>
      </div>
    </div>

    <!-- CONTAINER -->
    <div class="container">

      <!-- ACTIONS -->
      <div class="action-box">
        <div class="form-row">
          <label>Game Room Name</label>
          <input type="text" ng-model="state.roomName" />
          <label>Players</label>
          <input type="number" ng-model="state.playerCount" />
          <button ng-click="addRoom('default')">Test Room</button>
          <button ng-click="addRoom('auto')">Auto Test Room</button>
          <button ng-click="addRoom('full-auto')">Full Auto Test Room</button>
        </div>
      </div>

      <!-- GAMEROOM -->
      <div class="room" ng-repeat="(i, room) in state.rooms">
        <!-- ROOM INFO -->
        <div class="room-info">
          <div class="room-name">
            <a href="{{room.roomURL}}" target="_blank">
              <h2>{{ room.roomName }}</h2>
            </a>
          </div>
          <div class="room-actions form-row">
            <label>Player Name</label>
            <input type="text" />
            <button>Add Player</button>
          </div>
        </div>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th class="slide">Round / Slide</th>
              <th ng-class="room.getGameState().poll === 'LOBBY' ? 'current-poll' : ''">
                Ready
              </th>
              <th ng-class="room.getGameState().poll === 'ROUND_CHOOSE_ROOM' ? 'current-poll' : ''">
                Room
              </th>
              <th ng-class="room.getGameState().poll === 'ROUND_ENTER_CODE' ? 'current-poll' : ''">
                Code
              </th>
              <th>Connection</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th></th>
              <th class="slide">
                {{ room.getGameState().round }}
              </th>
              <th>
                <button ng-click="room.sendReadyUp()">Ready Up</button>
              </th>
              <th>
                <button ng-click="room.sendRoomChoices()">Random</button>
              </th>
              <th>
                <input class="code" type="text" ng-model="room.allCode"
                  ng-class="room.getGameState().code === room.allCode ? 'correct' : 'spy'" />
                <button ng-click="room.sendManualCode(false)">Manual</button>
                <button class="red" ng-click="room.sendCode(false)">Incorrect</button>
                <button class="green" ng-click="room.sendCode(true)">Correct</button>
              </th>
              <th>
                <button class="red" ng-click="room.disconnectAll()">Disconnect</button>
              </th>
            </tr>

            <!-- PLAYERS -->
            <tr ng-repeat="(j, player) in room.players" ng-class="player.getClass()">
              <td>{{ player.playerName}}</td>
              <td class="slide">
                <span ng-class="player.response.hasResponded ? 'correct' : 'incorrect'">
                  {{ player.slide.slideID }}
                </span>
              </td>
              <td>
                <button ng-click="player.sendReadyUp()">Ready Up</button>
              </td>
              <td>
                <input type="number" min="0" max="4" val="0" ng-model="player.response.roomID" />
                <button ng-click="player.sendRoomChoice()">Choose</button>
              </td>
              <td>
                <input class="code" type="text" ng-model="player.response.code"
                  ng-class="room.getGameState().code === player.response.code ? 'correct' : 'incorrect'" />
                <button ng-click="player.sendManualCode()">Manual</button>
                <button class="red" ng-click="player.sendEnterCode(false)">Incorrect</button>
                <button class="green" ng-click="player.sendEnterCode(true)">Correct</button>
              </td>
              <td>
                <button ng-if="player.isConnected()" class="red"
                  ng-click="player.disconnectPlayer()">Disconnect</button>
                <button ng-if="!player.isConnected()" class="green"
                  ng-click="player.reconnectPlayer()">Reconnect</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/packages/angular.min.js"></script>

  <script src="/assets/script.js" type="module"></script>
  <script src="/reload/reload.js"></script>

</body>

</html>