.input {
  font-size: 32px;
  border-bottom: 1px solid #FFF8;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  padding: 18px;
  background: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-family: inherit;
}

.input:focus {
  border-bottom: 1px solid #FFFD;
}

.input:disabled {
  color: #fff8;
}