.playerListHolder {
  background: #0008;
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 8px;
  cursor: pointer;
}

.roomRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 169px;
}

.roomHolder {
  padding: 8px;
}

.room {
  height: 100%;
  width: 100%;
  background: #0008;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
}

.room.disabled {
  cursor: default;
}

.roomNumber {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  padding: 8px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}